.wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
align-content: space-between;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    max-width: 500px;
    width: 100%;
    padding: 30px 30px 60px;
    margin: 0 15px 30px;
    border: 1px solid black;
    background-color: #f2f3f5;
    border-radius: 30px;

}


.card_image{
    flex-shrink: 0;
    max-width: 300px;
    max-height: 300px;
}
.card_button{
    padding: 6px 12px;
    border: none;
    background-color: rgb(224, 175, 140);
    
}